.page {
  background-color: #000;
  max-width: 1280px;
  margin: 0 auto 60px;
  font-family: 'Inter', Arial, sans-serif;
}

@media screen and (max-width: 950px) {
  .page {
    padding: 0 19px;
  }
}

@media screen and (max-width: 320px) {
  .page {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 36px;
  }
}
