.profile__info {
  min-width: 288px;
  max-width: 880px;
}

@media screen and (max-width: 500px) {
  .profile__info {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile__info {
    min-width: 253px;
  }
}
